<div class="dashboard-container" data-controller="dashboard">
  <section name="pull requests">
    <div class="dashboard__cards">
      <% pull_requests&.each do |pr| %>
        <% pr_age = 'pr-card__age--normal' %>
        <% pr_date = Time.parse(pr.node.created_at).to_date %>
        <% now = Time.now.to_date %>
        <% number_of_days = (now - pr_date).to_i %>
        <% if number_of_days >= 180 %>
            <% pr_age = 'pr-card__age--critical' %>
          <% elsif number_of_days >= 80  %>
            <% pr_age = 'pr-card__age--important' %>
          <% elsif number_of_days >= 16 %>
            <% pr_age = 'pr-card__age--high' %>
          <% elsif number_of_days >= 10 %>
            <% pr_age = 'pr-card__age--medium' %>
          <% end %>
          <div class="pr-card <%= pr_age %>">

            <div class="pr-card__header">
              <div class="pr-card__state">
                <div class="pr-card__number">
                  <a href="<%= pr.node.url %>">#<%=  pr.node.number %></a>
                </div><!-- end of pr-card-number -->
                <% node = pr&.node&.commits&.nodes.first %>
                <% if node&.commit&.status&.state == 'SUCCESS' %>
                  <div class="pr-card__status pr-card__status--success" aria-label="Pull request status success" id="<%= pr.node.number %>" data-target="dashboard.commit">&nbsp;</div>
                <% elsif node&.commit&.status&.state == 'FAILURE' %>
                  <div class="pr-card__status pr-card__status--failure" aria-label="Pull request status failure" id="<%= pr.node.number %>" data-target="dashboard.commit">&nbsp;</div>
                <% elsif node&.commit&.status&.state == 'PENDING' %>
                  <div class="pr-card-status pr-card__status--pending" aria-label="Pull request status pending" id="<%= pr.node.number %>" data-target="dashboard.commit">&nbsp;</div>
                <% else %>
                  <div class="pr-card__status pr-card__status--default" aria-label="No pull request status" id="<%= pr.node.number %>" data-target="dashboard.commit">&nbsp;</div>
                <% end %>
              </div><!-- end of pr-card-state -->

              <div class="pr-card__base">
                based on <strong><%=  pr.node.base_ref_name %></strong>
              </div>
            </div><!-- end of pr-card header -->

            <div class="pr-card__org">
              <%= pr.node.base_repository.name_with_owner %>
            </div><!-- end of pr-card organization -->

            <div class="pr-card__title">
              <% if pr.node.title&.size > 80 %>
                <%=  pr.node.title[0..76] %>...
              <% else %>
                <%=  pr.node.title %>
              <% end %>
            </div><!-- end of pr-card title -->

            <div class="pr-card__author">
              <span class="pr-card__author--name">opened <%= distance_of_time_in_words_to_now(pr.node.created_at) %>&nbsp;ago&nbsp;by&nbsp;<strong><%= pr.node.author.login %></strong></span>
              <img src="<%= pr.node.author.avatar_url %>" alt="<%= pr.node.author.login %>" class="pr-card__author--avatar">
            </div><!-- end of pr-card author -->

        </div><!-- end of pr-card -->
      <% end %>
    </div>
  </section>
</div>
