<section name="Description" class="section section-container-odd edge--bottom">
<div class="brand__logo">
    <img src="<%= asset_pack_path('media/images/logo_topbar.svg') %>" alt="Tentacles logo representing a head of an octopus in cartoon style" class="brand__logo-icon">
    <div class="brand__logo-text"><h1>Tentacles</h1></div>
    <nav class="brand__logo-menu">
      <a href="#how-it-works">How it works</a>
      <a href="#pricing">Pricing</a>
      <a href="#open-source">Open source</a>
    </nav>
  </div>
  <div class="section-container description">
    <div class="description__headings">
      <h1 class="description__headings-title">Pull requests dashboard</h1>
      <div class="description__headings-subtitle">
        Tentacles aggregates all pull requests for you and your Organizations into a single dashboard.
      </div>
    </div>
    <div class="description__actions">
      <%= button_to '/auth/github', class: 'btn signin-btn', method: :post do %>
        <i class="fab fa-github"></i>
        Sign In with GitHub
      <% end %>
      <div class="description__actions-link">
        <a href="#how-it-works">Learn how it works</a>
      </div>
    </div>
  </div><!-- End of section description -->
</section>

<section name="How it works" class="section bg-white">
  <div class="section-container">
    <header>
      <div class="how-it-works__header">
        <h2 id="how-it-works">How it Works</h2>
      </div>
    </header>

    <div class="how-it-works-boxes">
      <div class="how-it-works-box">
        <div class="box__icon">
          <div class="box__icon-item">
            <i class="fab fa-github fa-big" aria-hidden="true"></i>
          </div>
        </div>
        <div class="box__title">
          <h3>Connect with Github</h3>
        </div>
        <div class="box__description">
          <p>Connect with your github account. Tentacles only uses the minimum of information. We don't track you,
          sell your information, and store any personal information.</p>
        </div>
      </div><!-- End of feature -->

      <div class="how-it-works-box">
        <div class="box__icon">
          <div class="box__icon-item">
            <i class="fas fa-book-reader fa-big" aria-hidden="true"></i>
          </div>
        </div>
        <div class="box__title">
          <h3>Select your repositories</h3>
        </div>
        <div class="box__description">
          <p>Pick up repositories from your personal account and your organizations and save your preferences.</p>
        </div>
      </div><!-- End of feature -->

      <div class="how-it-works-box">
        <div class="box__icon">
          <div class="box__icon-item">
            <i class="fas fa-cocktail fa-big" aria-hidden="true"></i>
          </div>
        </div>
        <div class="box__title">
          <h3>Enjoy the personalized dashboard</h3>
        </div>
        <div class="box__description">
          <p>The dashboard displays all the pull request for the repositories selected, and you can easily monitor which are
          the oldest and take immediate actions on them. As a bonus, the pull requests statuses updates in near real-time.</p>
        </div>
      </div><!-- End of feature -->
    </div><!-- End of features -->

    <div class="how-it-works__capture">
      <img class="light-theme" src="<%= asset_pack_path('media/images/tentacles_screenshot_light.png') %>" alt="Tentacles dashboard light theme">
    </div>
    <div class="how-it-works__capture">
      <img class="dark-theme" src="<%= asset_pack_path('media/images/tentacles_screenshot_dark.png') %>" alt="Tentacles dashboard dark theme">
    </div>
  </div>

</section>

<section name="Pricing" class="section section-container-odd edge--top">
  <div class="section-container">
    <header>
      <div class="pricing__header">
        <h2 id="pricing">Pricing</h2>
      </div>
    </header>

    <div class="pricing__description">
      <p>Tentacles dashboard is completely free ✨🎉💸</p>
      <p>(No shaddy tactics to track you or use your personal information)</p>
    </div>
  </div>
</section>

<section name="Open source" class="section bg-white">
  <div class="section-container">
    <header>
      <div class="oss__header">
        <h2 id="open-source">Open source all the way</h2>
      </div>
    </header>

    <div class="oss__description">
      Tentacles dashboard is a complete Open Source Software. You can contribute to it, fork it, install it
      on your own server, no questions asked. It is written with the powerfull framework Ruby on Rails and Hosted
      on GitHub.
    </div>

    <div class="oss__actions">
      <%= button_to 'https://github.com/jveillet/tentacles-dash/fork', class: 'btn forkit-btn btn-blue' do %>
        <i class="fas fa-code-branch"></i>
        Fork it on GitHub
      <% end %>
    </div>
  </div>
</section>

<section name="Footer" class="section section-footer bg-white">
  <div class="footer">
    &copy; Tentacles <%= Time.current.year %> by <a href="https://github.com/jveillet">Jérémie Veillet</a>
  </div>
</section>
