<div class="settings-container" data-controller="settings">
  <section name="settings">
    <header>
      <h2>Settings</h2>
    </header>
  </section>

  <div class="alert" data-target="settings.alert">
    <div class="alert-header">
    </div>
    <div class="alert-body"></div>
  </div>

  <section name="organizations">
    <div class="organizations-list">
      <div class="organization">
        <div class="organization-avatar"><img src="<%= viewer.avatar_url  %>" alt="<%= viewer.name %>"></div>
        <div class="organization-name"><%= viewer.name %></div>
        <div class="organization-login">@<%= viewer.login %></div>
      </div>
      <% viewer.organizations.nodes.each do |org| %>
        <div class="organization">
          <div class="organization-avatar"><img src="<%= org.avatar_url %>" alt="<%= org.name %>"></div>
          <div class="organization-name"><%= org.name %></div>
          <div class="organization-login">@<%= org.login %></div>
        </div>
      <% end %>
    </div>
  </section>

  <section name="repositories">
    <header>
      <h3 class="setttings-title">REPOSITORIES</h3>
    </header>

    <div class="filter-input">
      <i class="fas fa-search icon"></i>
      <input type="text" class="search large-input search" placeholder="Filter repository names..." data-action="keyup->settings#filterRepositories">
    </div>

    <%= form_with(url: "/#{current_user&.nickname}/settings/save", method: :post, data: { 'action': 'ajax:success->settings#onSuccess ajax:before->settings#onSubmit ajax:error->settings#onError' }) do |f| %>
      <div class="repositories-list">
        <% repos.each do |repo| %>
            <% if current_user.settings['repos'].include? repo.name_with_owner %>
          <div class="repository repository-checked">
              <%= check_box_tag('repo[]', repo.name_with_owner, true, { class: 'repo', id: repo.name_with_owner, data: { 'action': "click->settings#toggleRepository" } }) %>
            <% else %>
          <div class="repository">
            <%= check_box_tag('repo[]', repo.name_with_owner, false, { class: 'repo', id: repo.name_with_owner, data: { 'action': "click->settings#toggleRepository" } }) %>
            <% end %>
            <label for="<%= repo.name_with_owner %>" class="repository-label"%><%= repo.name_with_owner %></label>
            <% if repo.is_private %>
              <i class="fas fa-lock"></i>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="settings-actions space-top">
        <%= f.button('Update settings', type: :submit, class: 'settings-save-btn') do %>
          <i class="fas fa-circle-notch fa-spin js-loading-indicator hidden"></i>
          Update settings
        <% end %>
      </div>
    <% end %>
  </section
</div>

