<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Tentacles</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#fae3f5">
    <meta name="msapplication-TileColor" content="#fae3f5">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#fae3f5">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_pack_tag  'stylesheets', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div class="topbar" data-controller="topbar">

      <div class="topbar-logo">
        <img src="<%= asset_pack_path('media/images/logo_topbar.svg') %>" alt="logo" class="topbar-logo-img">
        <div class="topbar-logo-name"><%= link_to 'Home', root_url %></div>
      </div>

      <div class="topbar-navigation">
        <nav aria-label="Main Navigation">
          <ul class="unordered-list">
            <li class="dropdown has-submenu">
              <div class="user">
                <img src="<%= current_user&.image %>" alt="<%= current_user&.name %>" class="user-avatar">
                <a href="#" aria-haspopup="true" aria-expanded="false" class="user-name" data-action="click->topbar#toggleMenu keyup->topbar#closeMenuWithoutDelay">
                  <%= current_user&.name %>
                  <i class="fas fa-caret-down space-right"></i>
                </a>
              </div>
              <ul class="menu-card unordered-list" data-target="topbar.menu" data-action="mouseleave->topbar#closeMenu">
                <li><span class="menu-card-title">ACCOUNT</span></li>
                <li>
                  <i class="fas fa-sliders-h menu-card-icon space-right"></i>
                  <%= link_to 'Settings', settings_path(username: current_user&.nickname), method: :get, class: 'menu-card-link'%>
                </li>
                <li><span class="menu-card-title">SESSION</span></li>
                <li>
                  <i class="fas fa-sign-out-alt  menu-card-icon space-right"></i>
                  <%= link_to 'Sign out', signout_path, class: 'menu-card-link' %>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>

    </div>
    <%= yield %>
  </body>
</html>
